body {
  font-family: 'Consolas', monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Consolas', monospace;
}

p {
  font-family: 'Consolas', monospace;
}

a {
  font-family: 'Consolas', monospace;
}

code {
  font-family: 'Consolas', monospace;
}

